
.header{
    background-color: burlywood;
    color: brown;
    justify-content: end;
    position:sticky;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: left;
    position:sticky;

    h1{
        font-family: 'Courier New', Courier, monospace;
    }
    input{
        background-color: burlywood;
        border:0em;
        font-family: 'Courier New', Courier, monospace;
        justify-content: left;
        margin-left: 1em;
        position:sticky;
    }
    input:hover{
        background-color: rgb(234, 152, 123);
    }

}

body{
    
        background-color: aqua;

}